@font-face {
  font-family: "proxima_nova_rgregular";
  src: url(../proxima.otf);
}
@font-face {
  font-family: "proxima_nova_bold";
  src: url(../proxima-bold.otf);
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "proxima_nova_rgregular", Helvetica, Arial, sans-serif;
}

.background-image {
  background-image: linear-gradient(rgba(5, 5, 5, 0.8), rgba(10, 10, 10, 0.7)), url("/images/background.png") !important;
  background-size: cover;
  position: relative;
  width: 100%;
  height: 40vh;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 12vh;
  background: transparent;
  z-index: 1000;
}
nav .navbar {
  height: 100%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 3em;
  background: transparent;
}
nav .navbar img {
  width: 10vh;
  margin: 1vh;
}
nav .navbar img:hover {
  transform: scale(1.05);
  filter: drop-shadow(0 0 5px #411313);
}
nav .navbar .nav-links .links {
  display: flex;
}
nav .navbar .nav-links .links li {
  position: relative;
  display: flex;
  align-items: center;
  list-style: none;
  padding: 0.2em 1em;
  white-space: nowrap;
}
nav .navbar .nav-links .links li:hover {
  transform: scale(1.02);
}
nav .navbar .nav-links .links li:hover .sub-menu {
  animation: growDown 0.2s ease-in-out forwards;
  transform-origin: top center;
  display: block;
}
nav .navbar .nav-links .links li a {
  height: 100%;
  font-size: 1.1em;
  color: #eeeeee;
  text-decoration: none;
  align-items: center;
  justify-content: center;
}
nav .navbar .nav-links .links li a:hover {
  text-shadow: 0 0 1px #411313, 0 0 1px #411313;
}
nav .navbar .nav-links .links li .sub-menu {
  position: absolute;
  top: 1.5em;
  left: 0;
  background: #411313;
  line-height: 4vh;
  display: none;
}
nav .navbar .nav-links .links li .sub-menu li {
  padding: 0 2vw;
}
nav .navbar .nav-links .links li .sub-menu li:hover {
  background-color: rgba(136, 0, 0, 0.2);
}
nav .navbar .nav-links .links li .sub-menu li a {
  color: #eeeeee;
}
nav .navbar .nav-links .links li .sub-menu li a:hover {
  text-shadow: none;
}
nav .navbar .nav-links .links #navbar-button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 1vw;
}
nav .navbar .nav-links .links #navbar-button #button {
  color: #eeeeee;
  border-color: #411313;
  background-color: rgba(130, 39, 38, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  padding: 0 1.5vw;
  height: 6vh;
  width: 100%;
  border: solid;
}
nav .navbar .nav-links .links #navbar-button #button:hover {
  text-shadow: none;
  border-color: #eeeeee !important;
  background-color: #eeeeee;
  color: #411313;
  transition: all 0.3s ease;
}

nav.scroll {
  background-color: #411313;
}

.links {
  display: flex;
  align-items: center;
  list-style-type: none;
  text-align: center;
}

.hero {
  height: 40vh;
}
.hero .hero-container {
  width: 100%;
  text-align: center;
  margin-bottom: 10vh;
}

.hero-content {
  color: #eeeeee;
  padding: 18vh 0;
}
.hero-content h1 {
  color: #eeeeee;
  font-size: 4em;
}

.body {
  background-color: #eeeeee;
}

h2 {
  font-family: "proxima_nova_bold";
  font-size: 3em;
  padding-top: 10vh;
  text-align: center;
}

p {
  text-align: center;
  font-size: 2em;
  padding: 5vh 10vw;
}

.icon-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 3vh 40vw;
}
.icon-container a {
  text-decoration: none;
  color: #411313;
  transition: 0.5s;
  padding-bottom: 10vh;
}
.icon-container a:hover {
  color: #822726;
}
.icon-container a i {
  font-size: 5em;
  margin: 0% 1%;
}

.footer {
  background: #411313;
  padding: 3vh 0;
  text-align: center;
}
.footer .row {
  width: 100%;
  margin: 1% 0%;
  padding: 0.6% 0%;
  color: #aaaaaa;
  font-size: 1em;
}
.footer .row a {
  text-decoration: none;
  color: #aaaaaa;
  transition: 0.5s;
}
.footer .row a:hover {
  color: #eeeeee;
}
.footer .row a i {
  font-size: 2em;
  margin: 0% 1%;
}
.footer .row ul {
  width: 100%;
}
.footer .row ul li {
  display: inline-block;
  margin: 0px 2vw;
}
.footer .row p {
  font-size: 0.85em;
  padding-top: 4vh;
}

@keyframes growDown {
  0% {
    transform: scaleY(0);
  }
  100% {
    transform: scaleY(1);
  }
}
@media screen and (max-width: 1025px) {
  nav .navbar {
    height: 12vh;
  }
  nav .navbar img {
    width: 6vh;
    position: absolute;
    top: 20%;
    left: 5%;
  }
  nav .navbar img:hover {
    transform: scale(1.05);
    filter: drop-shadow(0 0 5px #411313);
  }
  nav .navbar .nav-links .links {
    display: grid;
    grid-template-columns: auto;
    margin: 0;
    width: 100%;
    position: absolute;
    top: -1000px;
    opacity: 0;
    transition: all 0.3s ease;
    height: 100vh;
    z-index: -1;
    background-color: #411313;
    left: 0;
  }
  nav .navbar .nav-links .links li {
    width: 100%;
    height: auto;
    display: block;
  }
  nav .navbar .nav-links .links li a {
    font-size: 1.2em;
    text-align: center;
    padding: 0.1em;
    width: 100%;
  }
  nav .navbar .nav-links .links li .sub-menu {
    display: none;
    position: relative;
    font-size: 0.6em;
    width: 100%;
    top: 0;
    right: 0;
    padding-top: 0.5em;
    padding-bottom: 1em;
  }
  nav .navbar .nav-links .links #navbar-button {
    padding-bottom: 2em;
    white-space: nowrap;
  }
  nav .navbar .nav-links .links #navbar-button #button {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0;
    background-color: transparent;
    margin: auto;
    width: 35%;
    height: 1em;
  }
  nav .navbar .nav-links .links.active {
    background-color: #411313;
    top: 100%;
    opacity: 1;
    transition: all 0.3s ease;
    z-index: 99;
    height: 70vh;
    font-size: 1.6rem;
  }
  nav .navbar .navbar-toggle .bar {
    width: 30px;
    height: 2px;
    margin: 5px auto;
    transition: all 0.3s ease-in-out;
    background: #eeeeee;
    display: block;
    cursor: pointer;
  }
  nav .navbar #mobile-menu {
    position: absolute;
    top: 20%;
    right: 5%;
    transform: translate(5%, 20%);
  }
  nav .navbar #mobile-menu.is-active .bar:nth-child(2) {
    opacity: 0;
  }
  nav .navbar #mobile-menu.is-active .bar:nth-child(1) {
    transform: translateY(7px) rotate(45deg);
  }
  nav .navbar #mobile-menu.is-active .bar:nth-child(3) {
    transform: translateY(-7px) rotate(-45deg);
  }
  nav .navbar.active {
    background: #411313;
    transition: all 0.5s ease;
  }
}
@media screen and (max-width: 769px) {
  .hero-content {
    padding: 18vh 0;
  }
  .footer .row ul {
    padding-bottom: 10px;
  }
  .footer .row ul li {
    display: block;
    padding: 0.25em;
  }
}
@media screen and (max-width: 481px) {
  nav .navbar .nav-links .links li a {
    font-size: 0.8em;
  }
  nav .navbar .nav-links .links li .sub-menu {
    font-size: 0.7em;
    line-height: 1em;
    padding-bottom: 0;
  }
  .hero-content {
    padding: 18vh 0;
  }
  .hero-content .hero-info {
    padding: 0.2em;
  }
  .hero-content .hero-info i {
    font-size: 1em;
  }
  .hero-content h1 {
    font-size: 2em;
  }
  .hero-content .hero-countdown {
    width: 20em;
  }
}
@media screen and (max-width: 320px) {
  .hero-content {
    padding: 18vh 0;
  }
  .hero-content .hero-info i {
    font-size: 1em;
  }
  .hero-content h1 {
    font-size: 2em;
  }
  .hero-content h2 {
    font-size: 1em;
  }
  .hero-content p {
    font-size: 1em;
  }
}/*# sourceMappingURL=style.css.map */