@font-face {
  font-family: "proxima_nova_rgregular";
  src: url(proxima.otf);
}
@font-face {
  font-family: "proxima_nova_bold";
  src: url(proxima-bold.otf);
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "proxima_nova_rgregular", Helvetica, Arial, sans-serif;
}

.background-image {
  background-image: linear-gradient(rgba(5, 5, 5, 0.8), rgba(10, 10, 10, 0.7)), url("/images/canmun.jpg") !important;
  background-size: cover;
  position: relative;
  width: 100%;
  height: 100%;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 12vh;
  background: transparent;
}
nav .navbar {
  height: 100%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 3em;
  background: transparent;
}
nav .navbar img {
  width: 10vh;
  margin: 1vh;
}
nav .navbar img:hover {
  transform: scale(1.05);
  filter: drop-shadow(0 0 5px #411313);
}
nav .navbar .nav-links .links {
  display: flex;
}
nav .navbar .nav-links .links li {
  position: relative;
  display: flex;
  align-items: center;
  list-style: none;
  padding: 0.2em 1em;
  white-space: nowrap;
}
nav .navbar .nav-links .links li:hover {
  transform: scale(1.02);
}
nav .navbar .nav-links .links li:hover .sub-menu {
  animation: growDown 0.2s ease-in-out forwards;
  transform-origin: top center;
  display: block;
}
nav .navbar .nav-links .links li a {
  height: 100%;
  font-size: 1.1em;
  color: #eeeeee;
  text-decoration: none;
  align-items: center;
  justify-content: center;
}
nav .navbar .nav-links .links li a:hover {
  text-shadow: 0 0 1px #411313, 0 0 1px #411313;
}
nav .navbar .nav-links .links li .sub-menu {
  position: absolute;
  top: 1.5em;
  left: 0;
  background: #411313;
  line-height: 4vh;
  display: none;
}
nav .navbar .nav-links .links li .sub-menu li {
  padding: 0 2vw;
}
nav .navbar .nav-links .links li .sub-menu li:hover {
  background-color: rgba(136, 0, 0, 0.2);
}
nav .navbar .nav-links .links li .sub-menu li a {
  color: #eeeeee;
}
nav .navbar .nav-links .links li .sub-menu li a:hover {
  text-shadow: none;
}
nav .navbar .nav-links .links #navbar-button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 1vw;
}
nav .navbar .nav-links .links #navbar-button #button {
  color: #eeeeee;
  border-color: #411313;
  background-color: rgba(130, 39, 38, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  padding: 0 1.5vw;
  height: 6vh;
  width: 100%;
  border: solid;
}
nav .navbar .nav-links .links #navbar-button #button:hover {
  text-shadow: none;
  border-color: #eeeeee !important;
  background-color: #eeeeee;
  color: #411313;
  transition: all 0.3s ease;
}

nav.scroll {
  background-color: #411313;
}

.links {
  display: flex;
  align-items: center;
  list-style-type: none;
  text-align: center;
}

.hero {
  height: 100vh;
}
.hero a {
  color: #eeeeee;
  background-color: #822726;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  padding: 0.5em 1em;
  font-size: 1.8em;
  text-transform: uppercase;
  font-family: "proxima_nova_bold";
}
.hero a:hover {
  text-shadow: none;
  background-color: #eeeeee;
  color: #411313;
  transition: all 0.3s ease;
}
.hero .hero-container {
  width: 100%;
  text-align: center;
  margin-bottom: 10vh;
}
.hero #date {
  padding-right: 2em;
}
.hero .flex-box {
  display: flex;
  margin: auto;
  justify-content: center;
  text-align: center;
  padding-top: 3em;
}
.hero .hero-info {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 1vh;
}
.hero .hero-info i {
  font-size: 1.3em;
  padding-right: 0.6em;
  color: #eeeeee;
}

.hero-content {
  color: #eeeeee;
  padding: 25vh 0;
}
.hero-content h1 {
  color: #eeeeee;
  font-size: 5em;
  text-transform: uppercase;
  font-family: "proxima_nova_bold";
}
.hero-content h2 {
  color: #eeeeee;
  font-size: 1.5em;
}
.hero-content p {
  color: #eeeeee;
  font-size: 1.6em;
  font-style: italic;
  padding: 2vh;
}
.hero-content .hero-countdown {
  background-color: rgba(20, 20, 20, 0.5);
  color: #ccc;
  width: 600px;
  margin: 3vh auto;
  margin-bottom: 8vh;
}
.hero-content li {
  display: inline-block;
  font-size: 1.5em;
  list-style-type: none;
  padding: 1em;
}
.hero-content li span {
  display: block;
  font-size: 3em;
}

.letter-container {
  padding: 15vh 12vw;
  background-color: #eeeeee;
  font-size: 1.05em;
  line-height: 3.8vh;
}
.letter-container h2 {
  font-family: "proxima_nova_bold";
  padding-bottom: 5vh;
}
.letter-container p {
  text-align: justify;
  text-justify: inter-word;
}
.letter-container img {
  height: 15vh;
}
.letter-container #sec-gen {
  float: right;
  padding-left: 5vh;
  height: 55vh;
  width: auto;
}

.bold {
  font-family: "proxima_nova_bold";
}

.section {
  padding: 10vh 12vw;
  background-color: #eeeeee;
  font-size: 1.05em;
  line-height: 3.8vh;
}
.section h2 {
  font-family: "proxima_nova_bold";
  padding-bottom: 5vh;
  text-align: center;
  font-size: 2em;
}
.section p {
  text-align: justify;
  line-height: 2em;
}
.section p .bolded {
  font-family: "proxima_nova_bold", Helvetica, Arial, sans-serif;
}
.section .flex-box {
  display: flex;
  width: 100%;
  padding: 0;
  justify-content: space-between;
}

.grey-section {
  background-color: #343434;
  color: white;
}
.grey-section a {
  color: #E89695;
}

.stats-container {
  display: flex;
  justify-content: space-between;
}
.stats-container .stat {
  width: 20em;
  height: 30vh;
  background-color: #822726;
  color: #eeeeee;
  padding: 50px 0;
  text-align: center;
}
.stats-container .number1 {
  padding: 30px;
  overflow: hidden;
  height: 7em;
}
.stats-container .number1 ul {
  list-style-type: none;
  font-size: 7em;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: bolder;
  animation-duration: 3s;
  animation-timing-function: ease;
  animation-delay: 1s;
  animation-fill-mode: forwards;
  line-height: 1em;
  margin-top: -0.2em;
}
.stats-container .number1 .roll1 {
  animation-name: roll1;
}
.stats-container .number2 {
  padding: 30px;
  overflow: hidden;
  height: 7em;
}
.stats-container .number2 ul {
  list-style-type: none;
  font-size: 7em;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: bolder;
  animation-duration: 3s;
  animation-timing-function: ease;
  animation-delay: 1s;
  animation-fill-mode: forwards;
  line-height: 1em;
  margin-top: -0.2em;
}
.stats-container .number2 .roll2 {
  animation-name: roll2;
}
.stats-container .number3 {
  padding: 30px;
  overflow: hidden;
  height: 7em;
}
.stats-container .number3 ul {
  list-style-type: none;
  font-size: 7em;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: bolder;
  animation-duration: 3s;
  animation-timing-function: ease;
  animation-delay: 1s;
  animation-fill-mode: forwards;
  line-height: 1em;
  margin-top: -0.2em;
}
.stats-container .number3 .roll3 {
  animation-name: roll3;
}
.stats-container .description p {
  text-align: center;
  line-height: 1.2em;
  font-size: 1em;
  text-transform: uppercase;
}

.flex-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding-bottom: 2em;
}
.flex-container .flex-child {
  background-color: #822726;
  color: #eeeeee;
  width: 38%;
  text-align: center;
}
.flex-container .flex-child a {
  color: #eeeeee;
  font-size: 1.3em;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  padding: 1em 2em;
  height: 100%;
  width: 100%;
}
.flex-container .flex-child:hover {
  transform: scale(1.01);
  filter: drop-shadow(0 0 3px #822726);
}

.footer {
  background: #411313;
  padding: 3vh 0;
  text-align: center;
}
.footer .row {
  width: 100%;
  margin: 1% 0%;
  padding: 0.6% 0%;
  color: #aaaaaa;
  font-size: 1em;
}
.footer .row a {
  text-decoration: none;
  color: #aaaaaa;
  transition: 0.5s;
}
.footer .row a:hover {
  color: #eeeeee;
}
.footer .row a i {
  font-size: 2em;
  margin: 0% 1%;
}
.footer .row ul {
  width: 100%;
}
.footer .row ul li {
  display: inline-block;
  margin: 0px 2vw;
}
.footer .row p {
  font-size: 0.85em;
  padding-top: 4vh;
}

@keyframes roll1 {
  100% {
    margin-top: -9.2em;
  }
}
@keyframes roll2 {
  100% {
    margin-top: -2.2em;
  }
}
@keyframes roll3 {
  100% {
    margin-top: -4.2em;
  }
}
@keyframes growDown {
  0% {
    transform: scaleY(0);
  }
  100% {
    transform: scaleY(1);
  }
}
@media screen and (max-width: 1025px) {
  nav .navbar {
    height: 12vh;
  }
  nav .navbar img {
    width: 6vh;
    position: absolute;
    top: 20%;
    left: 5%;
  }
  nav .navbar img:hover {
    transform: scale(1.05);
    filter: drop-shadow(0 0 5px #411313);
  }
  nav .navbar .nav-links .links {
    display: grid;
    grid-template-columns: auto;
    margin: 0;
    width: 100%;
    position: absolute;
    top: -1000px;
    opacity: 0;
    transition: all 0.3s ease;
    height: 100vh;
    z-index: -1;
    background-color: #411313;
    left: 0;
  }
  nav .navbar .nav-links .links li {
    width: 100%;
    height: auto;
    display: block;
  }
  nav .navbar .nav-links .links li a {
    font-size: 1.2em;
    text-align: center;
    padding: 0.1em;
    width: 100%;
  }
  nav .navbar .nav-links .links li .sub-menu {
    display: none;
    position: relative;
    font-size: 0.6em;
    width: 100%;
    top: 0;
    right: 0;
    padding-top: 0.5em;
    padding-bottom: 1em;
  }
  nav .navbar .nav-links .links #navbar-button {
    padding-bottom: 2em;
    white-space: nowrap;
  }
  nav .navbar .nav-links .links #navbar-button #button {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0;
    background-color: transparent;
    margin: auto;
    width: 35%;
    height: 1em;
  }
  nav .navbar .nav-links .links.active {
    background-color: #411313;
    top: 100%;
    opacity: 1;
    transition: all 0.3s ease;
    z-index: 99;
    height: 70vh;
    font-size: 1.6rem;
  }
  nav .navbar .navbar-toggle .bar {
    width: 30px;
    height: 2px;
    margin: 5px auto;
    transition: all 0.3s ease-in-out;
    background: #eeeeee;
    display: block;
    cursor: pointer;
  }
  nav .navbar #mobile-menu {
    position: absolute;
    top: 20%;
    right: 5%;
    transform: translate(5%, 20%);
  }
  nav .navbar #mobile-menu.is-active .bar:nth-child(2) {
    opacity: 0;
  }
  nav .navbar #mobile-menu.is-active .bar:nth-child(1) {
    transform: translateY(7px) rotate(45deg);
  }
  nav .navbar #mobile-menu.is-active .bar:nth-child(3) {
    transform: translateY(-7px) rotate(-45deg);
  }
  nav .navbar.active {
    background: #411313;
    transition: all 0.5s ease;
  }
  .stats-container {
    display: block;
  }
  .stats-container .stat {
    margin: 0 auto;
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 769px) {
  .hero-content {
    padding: 18vh 0;
  }
  .hero-content .hero-info i {
    font-size: 1.5em;
  }
  .hero-content #hero-info-top {
    padding-top: 8vh;
  }
  .hero-content h1 {
    font-size: 4em;
  }
  .hero-content h2 {
    font-size: 1.5em;
  }
  .hero-content p {
    font-size: 1.5em;
  }
  .hero-content .hero-countdown {
    width: 400px;
  }
  .hero-content li {
    font-size: 1em;
  }
  .hero-content li span {
    font-size: 3em;
  }
  .flex-container {
    width: 100%;
    flex-direction: column;
  }
  .flex-container .flex-child {
    width: 100%;
    margin-bottom: 1em;
  }
  .footer .row ul {
    padding-bottom: 10px;
  }
  .footer .row ul li {
    display: block;
    padding: 0.25em;
  }
}
@media screen and (max-width: 481px) {
  nav .navbar .nav-links .links li a {
    font-size: 0.8em;
  }
  nav .navbar .nav-links .links li .sub-menu {
    font-size: 0.7em;
    line-height: 1em;
    padding-bottom: 0;
  }
  .hero-content {
    padding: 18vh 0;
  }
  .hero-content a {
    font-size: 1.3em;
  }
  .hero-content .hero-info {
    padding: 0.2em;
  }
  .hero-content .hero-info i {
    font-size: 1em;
  }
  .hero-content #hero-info-top {
    padding-top: 8vh;
  }
  .hero-content h1 {
    font-size: 2em;
  }
  .hero-content h2 {
    font-size: 1em;
  }
  .hero-content p {
    font-size: 1em;
  }
  .hero-content .hero-countdown {
    width: 20em;
  }
  .hero-content li {
    font-size: 1em;
    padding: 1em 0.5em;
  }
  .hero-content li span {
    font-size: 2em;
  }
  .hero-content .flex-box {
    display: block;
  }
  .hero-content .flex-box #date {
    padding: 0;
  }
  .hero-content .flex-box .hero-info {
    padding: 1em;
  }
  .letter-container #sec-gen {
    margin: auto;
    padding-left: 0;
    width: 100%;
    height: auto;
  }
  .stats-container .stat {
    width: 15em;
  }
  .stats-container .stat .description {
    padding-top: 15px;
  }
  .stats-container .stat .description p {
    font-size: 0.8em;
  }
  .stats-container .number1 {
    height: 5em;
  }
  .stats-container .number1 ul {
    font-size: 5em;
  }
  .stats-container .number2 {
    height: 5em;
  }
  .stats-container .number2 ul {
    font-size: 5em;
  }
  .stats-container .number3 {
    height: 5em;
  }
  .stats-container .number3 ul {
    font-size: 5em;
  }
}
@media screen and (max-width: 320px) {
  .hero-content {
    padding: 18vh 0;
  }
  .hero-content .hero-info i {
    font-size: 1em;
  }
  .hero-content #hero-info-top {
    padding-top: 8vh;
  }
  .hero-content h1 {
    font-size: 2em;
  }
  .hero-content h2 {
    font-size: 1em;
  }
  .hero-content p {
    font-size: 1em;
  }
  .hero-content .hero-countdown {
    width: 15em;
  }
  .hero-content li {
    font-size: 0.8em;
    padding: 1em 0.5em;
  }
  .hero-content li span {
    font-size: 1.6em;
  }
}/*# sourceMappingURL=style.css.map */